<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>用户个人中心</title>
		<link rel="shortcut icon" href="images/you.png">
		<link rel="stylesheet" href="dist/modules/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="dist/modules/ionicons/css/ionicons.min.css">
		<link rel="stylesheet" href="dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
		
		<link rel="stylesheet" href="dist/modules/summernote/summernote-lite.css">
		<link rel="stylesheet" href="dist/modules/flag-icon-css/css/flag-icon.min.css">
		<link rel="stylesheet" href="dist/css/demo.css">
		<link rel="stylesheet" href="dist/css/style.css">
		<link rel="stylesheet" href="plug-ins/xcConfirm/css/xcConfirm.css">
		<link rel="stylesheet" href="plug-ins/context-menu/css/contextMenu.css">
		<link rel="stylesheet" href="layui/css/layui.css"  media="all">
		<link rel="stylesheet" href="css/pagination.css">
			<style>
				.files-items{
					margin-top: -20px;
					border-bottom: 1px dashed #bdc3c7;
					border-top: 1px dashed #bdc3c7;
				}
				.files-items:hover{
					background: #F4FBFF;
				}
			</style>
		
	</head>
	
	
	<body>
		<div id="app">
			<div class="main-wrapper">

				<div  th:replace="commons/commons::#top"></div>
		
		
				<div class="main-content">
					<section class="section">
						<h3 class="section-header" style="color: red;font: bold" >
							<div> 请注意:服务器容量有限，网页仅供展示，未投入使用，请勿上传资源。网页所有者会定期删除资源或关闭上传功能! <span style="color: red;font-size: 14px"></span></div>
						</h3>
						<h1 class="section-header">
							<div><i class="ion ion-folder"></i> 我的上传记录 <span style="color: red;font-size: 14px"></span></div>
						</h1>
						<div class="row">
							<div class="col-12 col-sm-12 col-lg-12">
								<div class="card">
								<div class="card-body">
									<nav aria-label="breadcrumb" class="empty-space">
										
									</nav>
									<div class="row" style="margin-top: -10px;">
										<div class="col-12 col-sm-12 col-lg-12 table-responsive">
											<table class="table tab-bordered text-nowrap" id="files-table">
												<tr id="files-table-title" class="empty-space">
													<th></th>
													<th>文件名</th>
													<th>类型</th>
													<th>大小</th>
													<th>上传时间</th>

												</tr>
												<tr th:each="s:${mysources.list}" class="files-items files">
													<td><span style="display: none" th:text="${s.sourceAddr}"></span>
														<i style="font-size: 24px;color: #2ea5ff" th:if="${s.sourceType} eq '文档'" class="icon ion-document-text"></i>
														<i style="font-size: 24px;color: #aaff00" th:if="${s.sourceType} eq '图像'" class="icon ion-image"></i>
														<i style="font-size: 24px;color: #ff5500" th:if="${s.sourceType} eq '视频'" class="icon ion-ios-videocam"></i>
														<i style="font-size: 24px;color: #d4dc35" th:if="${s.sourceType} eq '音乐'" class="icon ion-ios-musical-notes"></i>
														<i style="font-size: 24px;color: #343A40" th:if="${s.sourceType} eq '其他'" class="icon ion-document"></i>
													</td>
													<td>
														<a style="font-weight: 700;color: #845ff4;" th:text="${s.sourceName}">文件名</a>
													</td>
													<td style="font-weight: 300" th:if="${s.sourceType} eq '文档'">文档</td>
													<td style="font-weight: 300" th:if="${s.sourceType} eq '图像'">图像</td>
													<td style="font-weight: 300" th:if="${s.sourceType} eq '视频'">视频</td>
													<td style="font-weight: 300" th:if="${s.sourceType} eq '音乐'">音乐</td>
													<td style="font-weight: 300" th:if="${s.sourceType} eq '其他'">其他</td>
													
													<td style="font-weight: 300" th:if="${s.sourceSize > 1024}" th:text="${s.sourceSize/1024 +'MB'}"></td>
													<td style="font-weight: 300" th:if="${s.sourceSize < 1024}" th:text="${s.sourceSize +'KB'}"></td>
													<td style="font-weight: 300" th:text="${#dates.format(s.uploadTime,'yyyy-MM-dd HH:mm')}">时间</td>


													<td><a th:data-sn="${s.sourceName}" onclick="renameSource(this.getAttribute('data-sn'))" style="color: #ff0000;" >重命名</a></td>
													
													
													<td><a th:href="@{/deleteSource(sourceName=${s.sourceName},fileName=${s.sourceFileName})}" style="color: #ff0000;">删除</a></td>

												</tr>
											</table>
									</div>



									<div style="transform:translateX(50%);-ms-transform:translateX(50%);-webkit-transform:translateX(50%);">
										<div class="modal-footer no-margin-top" th:if="${mysources.getSize() != 0}">

											<div class="col-md-12">
												当前第 [[${mysources.pageNum}]]页,共 [[${mysources.pages}]] 页.一共 [[${mysources.total}]] 条记录
											</div>

											<ul class="pagination pull-right no-margin">
												<li th:if="${mysources.hasPreviousPage}">
													<a th:href="@{/showMyFile}">首页</a>
												</li>

												<li class="prev" th:if="${mysources.hasPreviousPage}">
													<a th:href="@{/showMyFile(pageNum=${mysources.prePage})}">
														<i style="color: #00FF00" class="icon ion-ios-arrow-back"></i>
													</a>
												</li>
												<!--遍历条数-->
													<li th:each="nav:${mysources.navigatepageNums}">

														<a th:href="@{/showMyFile(pageNum=${nav})}" th:text="${nav}" th:if="${nav != mysources.pageNum}"></a>
														<span style="font-weight: bold;background: #6faed9;" th:if="${nav == mysources.pageNum}" th:text="${nav}" >页</span>
													</li>

												<li class="next" th:if="${mysources.hasNextPage}">
													<a th:href="@{/showMyFile(pageNum=${mysources.nextPage})}">
														<i style="color: #00FF00" class="icon ion-ios-arrow-forward"></i>
													</a>
												</li>

												<li>
													<a th:if="${mysources.hasNextPage}" th:href="@{/showMyFile(pageNum=${mysources.pages})}">尾页</a>
												</li>
											</ul>
										</div>
									</div>
									
									</div>

									<div class="row" th:if="${mysources.getSize() == 0}">
										<div class="col-12 col-sm-12 col-lg-12">
											<div class="alert alert-primary alert-has-icon alert-dismissible show fade">
												<div class="alert-icon"><i class="ion ion-ios-lightbulb-outline"></i></div>
												<div class="alert-body">
													<button class="close" data-dismiss="alert">
														<span>×</span>
													</button>
													<div class="alert-title">这里空空的，什么都没有..请去“我的朋友圈”中创建自己的朋友圈或加入其他朋友圈，共享资源吧!</div>
												</div>
											</div>
										</div>
									</div>


								</div>
							</div>
							</div>
						</div>
						
						
					</section>
					
				</div>
				<div th:replace="commons/commons::#footer"></div>
			</div>
		</div>
		<script src="jquery-3.2.1/jquery-3.2.1.js"></script>
		<script src="layui/layui.js" charset="utf-8"></script>
		<script src="plug-ins/context-menu/js/jquery.contextMenu.min.js"></script>
		<script src="plug-ins/xcConfirm/js/xcConfirm.js"></script>
		<script th:inline="javascript">
			function renameSource(oldSourceName) {
				var newName = window.prompt("请输入需要修改的名称:","");
				if (newName){
					$.ajax({
						type:"POST",
						url:"renameSource",
						data:{
							"oldSourceName":oldSourceName,
							"newName":newName
						},
						success:function (data) {
							if (data == "ok"){
								alert("修改成功！");
								window.location.reload();
							}
							if (data == "error1"){
								alert("您没有权限修改文件名！请联系本群管理员!");
								return false;
							}
							if (data == "error2"){
								alert("修改文件名失败!请检查是否重名");
								return false;
							}
						}
					});
				}else if (newName === ""){
					alert("请输入名字");
					return false;
				}else {
					return false;
				}

			}
								
			function confirm(){
				str = prompt("请输入需要修改的名称:");
				return str;
			}
				
			
		</script>
		<script src="dist/modules/jquery.min.js"></script>
		<script src="dist/modules/popper.js"></script>
		<script src="dist/modules/tooltip.js"></script>
		<script src="dist/modules/bootstrap/js/bootstrap.min.js"></script>
		<script src="dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
		<script src="dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
		<script src="dist/js/sa-functions.js"></script>
		
		<script src="dist/modules/chart.min.js"></script>
		<script src="dist/modules/summernote/summernote-lite.js"></script>
		
		<script src="dist/js/scripts.js"></script>
		<script src="dist/js/custom.js"></script>
		<script src="dist/js/demo.js"></script>
		<script src="dist/modules/chart.min.js"></script>
		
		
	</body>
	
</html>
